.headerLayout {
    width: 1210px;
    margin: 0 auto;
}
.headerCon {
    width: 990px;
    margin: 0px auto;
}
#mallLogo {
    float: left;
    width: 330px;
    padding-top: 5px;
    position: relative;
}
.header-extra {
    overflow: hidden;
}
/*主体*/
.block_jm {
    width: 100%;
    background: #F9F9F9;
    height: auto;
}
.flowstep {
    margin: 0 auto;
    padding: 10px 0 20px;
    width: 660px;
    position: absolute;
    top: 40px;
    left: 252px;
    right: 0;
}
.flowstep ol {
    overflow: hidden;
}
.flowstep-5 {
    margin-left: 0;
    margin-right: -40px;
}
.flowstep li {
    text-align: center;
}
.flowstep li {
    float: left;
    text-align: center;
}
.flowstep-5 li {
    width: 140px;
}
.flowstep .step-name {
    color: #888;
    font-weight: 700;
    padding: 3px 0;
}
.flowstep .step-no {
    color: #fff;
    font-family: 'arial black';
    font-size: 18px;
    height: 34px;
    line-height: 34px;
}
.flowstep .step-no, .flowstep .step-sub-box .step-sub {
    background: url("../images/T1Usl8FnRfXXcVlxZa-734-340.png") no-repeat scroll 50% -102px rgba(0, 0, 0, 0);
}
.flowstep .step-first .step-done .step-no {
    background-position: 50% -204px;
}
.flowstep .step-done .step-no {
    background-position: 50% -170px;
}
.flowBox_jm {
    width: 990px;
    border: 1px solid #ddd;
    background: #fff;
    margin: 0 auto;
}
.title_jm {
    background: #f1f1f1;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #DDD;
}
a.continue_buy {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin-left: 15px;
    width: 140px;
    height: 40px;
    line-height: 40px;
    background: #fafafa;
    border: 1px solid #d9d9d9;
}
a.jmclear {
    color: #aaaaaa;
    text-decoration: none;
    margin-right: 10px;
}
#cart_money_info span {
    color: #E31939;
    font-family: Helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.jmcheckout {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    background: #E31939;
    margin-right: 25px;
    margin-left: 10px;
}
.flowBox_jm {
    width: 990px;
    border: 1px solid #ddd;
    background: #fff;
    margin: 0 auto;
}
.title_jm {
    background: #f1f1f1;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #DDD;
}
.title_jm ul {
    margin: 0px 0 0 40px;
}
.title_jm ul li {
    float: left;
    margin-right: 20px;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    color: #666;
    cursor: pointer;
    margin-top: 4px;
}
.title_jm ul li.curr {
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: 1px solid #fff;
    color: #e31939;
}
.flowHot {
    width: 100%;
    background: #fff;
    overflow: hidden;
}
.flowHot ul {
    padding: 30px 0px;
    display: none;
}
.flowHot ul.curr {
    display: block;
}
.flowHot ul li {
    float: left;
    width: 160px;
    margin: 20px 0 0 31px;
    position: relative;
}
.flowHot ul li p {
    padding-bottom: 15px;
}
.flowHot ul li p.pic {
    text-align: center;
}
.flowHot ul li p.name {
    height: 36px;
    overflow: hidden;
    padding-bottom: 0px;
    margin-bottom: 5px;
}
.flowHot ul li p.price {
    padding-bottom: 0px;
}
.flowHot ul li a {
    text-decoration: none;
    color: #555;
}
.flowHot ul li p.pic img {
    width: 150px;
    height: 150px;
    border: none;
}
.flowHot ul li p .price {
    font-family: "Microsoft YaHei", 微软雅黑;
    color: #e31939;
    font-size: 17px;
}

.flowHot ul li a.j_AddCart {
    position: absolute;
    bottom: 13px;
    right: 0px;
    width: 32px;
    height: 32px;
    background: transparent url("../images/add_to_cart.png") no-repeat scroll 0px 3px;
    cursor: pointer;
}
/*生成的表单样式*/
.thumb_name {
    float: left;
    width: 100%;
}
.thumb_name dl {
    float: left;
    margin: 13px 10px 13px 30px;
}
.thumb_name dl dt {
    float: left;
    width: 80px;
    text-align: center;
}
.thumb_name dl dt img {
    width: 60px;
    height: 60px;
}
.jm_cartnum {
    width: 65%;
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
    overflow: hidden;
}
.jm_cartnum span {
    float: left;
    background: url(../images/inputbg.gif) repeat-x 0 0;
    cursor: pointer;
    border: 1px solid #bbb;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
}
.jm_cartnum span.jmminu {
    border-right: none;
    line-height: 18px;
}
.jminputBg {
    float: left;
    width: 30px;
    text-align: center;
    margin: 0;
    border: 1px solid #b3b3b3;
    height: 18px;
    line-height: 18px;
}
.jm_cartnum span.jmadd {
    border-left: none;
    line-height: 18px;
}
.cart_jmprice {
    font-size: 14px;
    font-family: "Microsoft YaHei", 微软雅黑;
    font-weight: bold;
    color: #e31939;
}